<h2>Search Author</h2>
<form action="/authors" method="GET" >
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= searchNames.name %>" >
    <button type="submit">Search</button>
</form>
<br>
<%  books.forEach(book => { %>
   <div><%= locals.book.title %></div> 
<%  }); %>

