<h2 class="page-header" >Search Book</h2>
<form action="/books" method="GET" >
    <div class="form-row">
        <div class="form-item">
        <label for="name">Title</label>
        <input type="text" name="title" value="<%= searchTitles.title  %>" >
        </div>
    </div>
    <div class="form-row">
        <div class="form-item" >
            <label for="name">Published After</label>
            <input type="date" name="publishedAfter" 
                value="<%= searchTitles.publishedAfter %>" >
        </div>
        <div class="form-item">
            <label for="name">Published Before</label>
            <input type="date" name="publishedBefore" 
                        value="<%= searchTitles.publishedBefore %>" >
        </div>
    </div>  
    <div class="btn-row form-row-end">
         <button class="btn btn-primary" type="submit"> Search </button>
    </div>
   
</form>
<br>
    <%- include('../blocks/bookGrid.ejs' , 
    { books : books 
    }) %>