@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/forms.css';
@import 'shared/book.css';

:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
*, *::after, *::before{
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right ,
    var(--color-back-dark), var(--color-back-light));
   /*  background-image: url("../pictureUpload/BG02.jpg"); */
    color: var(--color-text-light);
}

.container{
    max-width: 80%;
    margin:auto;
    margin-bottom: 2rem;
    background-color: var(--color-back-dark-a);
}
.inner-container{
    max-width: 95%;
    margin:0 auto;
    margin-bottom: 2rem;
}
.page-header {
    font-size: var(--title-font-size);
    font-weight: 500;
}
label{
    font-size: var(--form-label-font-size);
}
.list{
    font-size: 0.8rem;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}


.error-message{
     color: hsl(var( --color-danger-hue ),100%, 80%  )   ;
}



@media only screen and (max-width: 700px){
    
    .container{
        max-width: 100%;
        padding: 10px;
        margin:auto;
    }
  /*  .inner-container{
        margin:0 auto;
        margin-bottom: 2rem;
    }
    .page-header {
        font-size:var(--title-font-size-sm);
        font-weight: 100;
    }
    label{
        font-size: var(--form-label-font-size-sm);
        margin-bottom: 1rem;
    }
    .list{
        font-size: var(--form-label-font-size-sm);
    }
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem;
    }
 */
        :root{
            font-size: 14px;
        }

  }