:root{
    --book-cover-width: 200px;
    --book-cover-width-large: 325px;
    --book-cover-aspect-ratio: 0.75;
}

.book-cover{
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
    background-color: hsla(var(--color-base-hue), 50%, 70%, 0.6) ;
    border:1px solid hsla(var(--color-base-hue), 50%, 70%, 0.6) ;
    border-radius: 5px;
}
.book-cover-large{
    --book-cover-width: var(--book-cover-width-large);
}
.book-title{
    position: absolute;  
    left:0;
    width:100%;
    bottom: 40px; 
    padding: 0.5rem 1rem;
    font-size: 2rem;
    text-shadow: 2px 2px 1px black;
    color: hsla(var(--color-base-hue), 50%, 70%, 0.6);
}
.preview{
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgb(86, 78, 78);
    bottom: 70px; 
    padding: 5px ;
    transform: rotate(-45deg);
    color: hsla(var(--color-base-hue), 100%, 100%, 0.3  );
    
}
.book-card{   
    position: relative;   
    margin: 0;
    padding: 0;
}
.book-grid-large{
    --book-cover-width: var(--book-cover-width-large);
}
.book-grid{
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}
.book-details{
    display: flex;
    position: relative;
}
.book-details-label{
    font-size: 1rem;
    font-weight: 500;
    align-self: flex-start;
    align-content: space-between;
}
.book-details-grid{
    display: grid;
    align-content:  flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    margin-left: 1rem;
    margin-top: 1rem;
}
.book-details-btn-grid{
    display: grid;
    justify-content: space-between;

    grid-template-areas: 
        "edit delete" 
        "author author";
    -ms-grid-row-align: .5rem;    
    margin-top: .5rem;    
}
.author-button{
    grid-area: author  ;
    justify-self: stretch;
}

.detail {
    font-size: 1.2rem;
    }

@media only screen and ( max-width:650px ) {
    .book-details{
        flex-wrap: wrap;
    }
    
    :root{
        --book-cover-width: 150px;
        --book-cover-width-large: 200px;
    }  


    
}
@media only screen and ( max-width:300px ) {
    .book-details-grid{
        display: grid;
        grid-template-columns: auto;
        row-gap: 0;
        margin-left: 0;
    }
    .book-details-label{       
        background-color: hsla(270, 12%, 29%, 0.3);  
    }
    .detail {
        margin-top: 0;
        margin-bottom: 0.5rem;
        }  

}