:root{
    --form-label-font-size: 1.5rem;
    --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%) ;
    --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 90%) ;
    --form-input-background: hsl(var(--color-base-hue), 10%, 100%);
    --form-input-text-color: hsl(var(--color-base-hue), 90%, 10%);
    --color-fprm-text-light: beige;
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1rem;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}
.no-grow{
    flex-grow: 0; 
    flex-wrap: wrap;
}
.form-row-end {
    justify-content: flex-end;
}

.form-item-column{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 2rem;
}
.field-label{
    margin: 0;
    padding: 0;
}
.form-item:first-child{
    margin-left: 0;
}
.form-item > label{
    font-size: var(--form-label-font-size);
    margin-bottom: .25rem;
    margin-left: .25rem;
}
.form-item input, .form-item select, .form-item textarea{
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background);
    color:var(--form-input-text-color);
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: 0;
}
.form-item input:focus, .form-item select:focus, .form-item textarea:focus{
    border-color: var(--form-input-border-color-light);
}
.form-item textarea{
    height: 80%;
    resize: none;
} 
.form-item select option{
    background-color:var(--form-input-background);
}

.filepond--root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    font-size: 0.8rem;
    color:black;
}

.filepond--panel-root{
    background-color: var(--form-input-background);
    border: 1px solid var(--form-input-border-color);
}
.filepond--drop-label{
    color: var(--form-input-text-color);
    margin-top: 3rem;
    align-items: end;
}
.author-name{
    font-size: 1.5rem;
}