:root{
    --color-base-hue:60;
    --color-back-dark: hsl(var(--color-base-hue), 20%, 9%);
    --color-back-dark-a: hsla(var(--color-base-hue), 20%, 3%, 0.4); 
    --color-back-light: hsl(var(--color-base-hue), 50%, 95%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 95%);
    --color-text-dark: hsl(var(--color-base-hue), 100%, 5%);
    --title-font-size:2rem; 
    --title-font-size-sm:1.2rem; 
    --color-danger-hue: calc(var(--color-base-hue) - 180);
    --url: url("../pictureUpload/BG02")
}