<h2>Delete Authors</h2>
authorid
<!-- <form action="authors/new/:id" method="DELETE">
    <%- include('_form_fields') %>
    <label for="authors"> Author name</label>
    <select name="authorId" id="authors">
     <% authors.forEach(author => { %>
     <option label="<%= authors.name %>" value="<%= authors.id %>"></option>   
    <% }) %>


   </select>
   
    <a href="authors">Cancel</a>
    <button type="submit">Delete</button>
</form> -->